name = "jlpkg"
uuid = "c4c688b2-6cc8-11e9-1c12-6d20b663313d"
version = "1.1.2"

[compat]
julia = "1"

[extras]
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Pkg", "Test"]
